.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  width: 95%;
  color: white;
  padding: 20px;
  gap: 10px;
}
.title {
  text-align: center;
}
